[Desktop Entry]
Type=Application
Name=XFCE4 Panel
Exec=xfce4-panel
NoDisplay=true
StartupNotify=true
X-MATE-Autostart-Phase=Panel
X-MATE-Provides=panel
X-MATE-Autostart-Notify=true
X-MATE-AutoRestart=true

