[Desktop Entry]
Type=Application
Name=Metacity
Exec=metacity
NoDisplay=true
X-MATE-Autostart-Phase=WindowManager
X-MATE-Provides=windowmanager
X-MATE-Autostart-Notify=true
X-MATE-AutoRestart=true

